<div class="container">
	<div class="row">
		<div class="col-xs-12" class="article">
			<div class="row">
				{{#each data}}
					<!-- <div class="col s3 push-s3" class="article-image"> -->
					<div class="col s3 push-s9" class="article-image">
						<span>{{{image}}}</span>
					</div>
						
					<!-- </div> -->
					<!-- <div class="col s9 pull-s3" class="article-text"> -->
					<div class="col s9 pull-s3" class="article-text">
						<span>
							<h4>{{title}}</h4>
							<p>{{{body}}}</p>
						</span>
					</div>

					<!-- </div> -->
				{{/each}}
			</div>
		</div>
	</div>
</div>


