<div class="container">
	<div class="row">
		<div class="col-xs-9" class="article">
			<div class="row">
				{{#each data}}
					<div class="col s9 push-s3" id="article-text">
						<h2>{{title}}</h2>
						<p>{{{body}}}</p>

					</div>
					<div class="col s3 pull-s3" id="article-image">
						{{{image}}}
					
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>


