<div class="container">
	<div class="row">
		<div class="col-xs-9" class="article">
			<div class="row">
				{{#each data}}
					<div class="col-xs-3">
						{{{image}}}
					</div>
					<div class="col-xc-3">
						<h2>{{title}}</h2>
						<p>{{{body}}}</p>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>


