/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
  padding-left: 5px;
}

#background1{
  background-size : cover;
  background-color: white;

}

.nav-wrapper{
  background-color: #b71c1c;
}
p {
  line-height: 2rem;
  font-family: 'Arvo', serif;

}

a {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

/*.article-image{
    float:left;
}
.article-text {
  float:right;
  background-color: red;
}*/
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #b71c1c;
}

#contact-form{
  
}

/*text box*/
#message{
  height: 100px;
}

/*google maps*/
#googleMap {
  width: 600px;
  height: 550px;
  margin-top: 100px;
}